<article class="post">
	<header class="post-header">
		<div class="post-title">
			{{ page.title | escape }}
		</div>
		<time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.date_forma | default: "%Y/%m/%d" -%}
			{{ page.date | date: date_format }}
		</time>
		<span id="busuanzi_container_page_pv">
			-<span id="busuanzi_value_page_pv"></span>
		</span>
	</header>

	<div class="post-content">
		{{ content }}
	</div>
</article>